# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.env
*.sqlite3
staticfiles/

# Node / Angular
node_modules/
dist/
.angular/
*.js.map

# Docker
.docker/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
